[submodule "ios-client/ext/EGOTableViewPullRefresh"]
	path = ios-client/ext/EGOTableViewPullRefresh
	url = https://github.com/enormego/EGOTableViewPullRefresh.git

[submodule "ios-client/ext/InAppSettingsKit"]
	path = ios-client/ext/InAppSettingsKit
	url = https://github.com/futuretap/InAppSettingsKit.git

[submodule "ios-client/ext/appirater"]
	path = ios-client/ext/appirater
	url = https://github.com/arashpayan/appirater.git


