<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>SETTINGS_OSS_DEVELOPERS_GROUP</string>
		</dict>
		<dict>
			<key>Key</key>
			<string></string>
			<key>Title</key>
			<string>SETTINGS_OSS_DEVELOPERS_LABEL</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>SETTINGS_OSS_GROUP</string>
		</dict>
		<dict>
			<key>Key</key>
			<string></string>
			<key>Title</key>
			<string>(C) 2008-2011 Route-Me contr.</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string></string>
			<key>Title</key>
			<string>(C) 2009-2010 Stig Brautaset</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string></string>
			<key>Title</key>
			<string>(C) 2007-2011 All-Seeing Interactive</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string></string>
			<key>Title</key>
			<string>(C) Google Map Icons Collection</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string></string>
			<key>Title</key>
			<string>(C) Map Data OpenStreetMap contr.</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string></string>
			<key>Title</key>
			<string>(C) 2009 enormego</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string></string>
			<key>Title</key>
			<string>(C) Luc Vandal and Ortwin Gentz</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
        <dict>
			<key>Key</key>
			<string></string>
			<key>Title</key>
			<string>(C) 2010 Arash Payan.</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
        </dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>Open Source</string>
</dict>
</plist>
