<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Station names</string>
			<key>Key</key>
			<string>station_names_language</string>
			<key>DefaultValue</key>
			<string>auto</string>
			<key>Titles</key>
			<array>
				<string>Automatic</string>
				<string>Hebrew</string>
				<string>English</string>
			</array>
			<key>Values</key>
			<array>
				<string>auto</string>
				<string>he</string>
				<string>en</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>enabled_preference</string>
			<key>Title</key>
			<string>Bicycle routes on map</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>About</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>version</string>
			<key>DefaultValue</key>
			<string>2.0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>OpenSource</string>
			<key>Title</key>
			<string>Open Source</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Send us feedback</string>
			<key>Key</key>
			<string>feedback</string>
			<key>InAppURL</key>
			<string>mailto://telobike@citylifeapps.com</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>Telobike</string>
</dict>
</plist>
