<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Station Names</string>
			<key>Key</key>
			<string>stationsLanguage</string>
			<key>DefaultValue</key>
			<string>auto</string>
			<key>Titles</key>
			<array>
				<string>Automatic</string>
				<string>Hebrew</string>
				<string>English</string>
			</array>
			<key>Values</key>
			<array>
				<string>auto</string>
				<string>he</string>
				<string>en</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>show_bicycle_routes</string>
			<key>Title</key>
			<string>Bicycle Routes on Map</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>Telobike</string>
</dict>
</plist>
